@{
    ViewData["Title"] = "Помощь";
}

<h1>@ViewData["Title"]</h1>
<br />


<div class="row">
    <div class="col-md-5">
        <p>
            Этот калькулятор создан для того, что бы легко и быстро посчитать и сравнить стоимость товаров
            за одну единицу измерения. Допустим, Вы хотели бы купить молоко. Ассортимент большой, но какое предложение выгодней?
            <br />
            Здесь стоимость упаковки 89 рублей за 930 мл, а рядом стоит упаковка 900 мл за 80 рублей. А ниже 1,45 л за 135 рублей.
            На этом простом примере я покажу, как пользоваться калькулятором стоимости продуктов.
        </p>
        
    </div>
    <div class="col-md-7">
        <p>
            
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <hr />
        <p>
           Для начала работы, Вам необходимо создать категорию продуктов, стоимость которых Вы хотите пересчитать и сравнить.
           Введите название категории, например, "Молоко".
           Далее необходимо выбрать единицу измерения, к которой мы будем приводить стоимость каждой упаковки молока.
           В данном случае удобно выбрать вариант "1 литр".
           <br />
           После можно нажимать на кнопку "Создать категорию".
        </p>
    </div>
    <div class="col-md-7">
        <hr />
        <p>
            <img src="~/images/help-2.jpg" alt="Шаг 1.1: создание категории" width="500"/>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <hr />
        <p>
            Теперь созданная Вами категория появилась в раскрывающемся списке в модуле добавления нового продукта.
            Выбираем "Молоко - 1 литр", вводим название молока, его стоимость в рублях и объём в миллилитрах.
            <br />
            <strong>Важно: объём всегда вводится в миллилитрах (1 литр = 1000 мл), а вес в граммах (1 кг = 1000 г.).</strong>
            <br />
            По желанию можно добавить примечание. Например, название интернет-магазина. 
            <br />
            Теперь нажимаем на кнопку "Добавить товар в расчёт". Повторяем этот шаг для всех необходимых товаров.
        </p>
    </div>
    <div class="col-md-7">
        <hr />
        <p>
            <img src="~/images/help-3.jpg" alt="Шаг 2.1: создание нового продукта" width="500"/>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <hr />
        <p>
            После добавления каждого продукта, он появляется в таблице в правой части страницы.
            Во второй колонке отображается стоимость молока за 1 литр. 
            Каждая новая категория товаров будет отображаться в виде отдельной таблицы.
            Если Вы ошиблись, то ненужную строку можно удалить с помощью одноимённой кнопки.
        </p>
    </div>
    <div class="col-md-7">
        <hr />
        <p>
            <img src="~/images/help-4.jpg" alt="Шаг 3.1: отображение таблицы" width="500" />
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <hr />
        <p>
            Чуть выше таблицы находится бегунок "Выделить самый выгодный вариант". Если нажать на него, а после на кнопку "Обновить таблицу", 
            то в каждой из созданных Вами таблиц будет выделен самый выгодный по стоимости вариант продукта.
        </p>
    </div>
    <div class="col-md-7">
        <hr />
        <p>
            <img src="~/images/help-5.jpg" alt="Шаг 4.1: выделение в таблице" width="500" />
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <hr />
        <p>
            Если у Вас есть замечания и предложения по работе калькулятора, Вы можете поделиться ими любым удобным для Вас способом в разделе: 
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>           
            Выгодных покупок!
        </p>
    </div>
    <div class="col-md-7">
        <hr />
    </div>
</div>